npys/
runs/
models/
log.txt
models/*
obsolete/
surface_data/
__pycache__/
.ipynb_checkpoints/
Untitled1.ipynb
data_preprocessing/npys/
data_preprocessing/__pycache__/
masif_pymol_plugin/__pycache__/
masif_pymol_plugin/*.cif
preds/
