npys/
datasets/
runs/
models/
obsolete/
surface_data/
preds/
__pycache__/
.*/
*.csv
*.fasta
*.pdb
*.ent
*.cif
*.log
log*.txt
Untitled1.ipynb
data_preprocessing/npys/
data_preprocessing/__pycache__/


